<footer class="footer">
  <div class="container centered v-center">
    <div class="col-xs-12"">
      <span class="text-muted">
        About&nbsp;&nbsp;|&nbsp;&nbsp;Terms of use&nbsp;&nbsp;|&nbsp;&nbsp;Privacy policy&nbsp;&nbsp;|&nbsp;&nbsp;Contact
      </span>
    </div>
  </div>
</footer>

